# A .gitignore for openFrameworks addons.

################################################################################
# Documentation
################################################################################

# Doxygen-Related
docs/html/*
docs/*
!docs/Doxyfile

# Instructions and other documentation files.
!docs/*.md
!docs/*.txt

################################################################################
# Examples
################################################################################

# bin/data Folder
example*/bin/data/*
!example*/bin/data/data.txt

# Project files
example*/*
!example*/src/
!example*/addons.make

################################################################################
# Libraries
################################################################################

# Exclude 3rd party libs by default.
libs/*

# Don't exclude ofx libs by default.
!libs/ofx*

################################################################################
# Shared Data
################################################################################

shared/data/*
!shared/data/*.sh

################################################################################
# Scripts
################################################################################

# Everything included by default.

################################################################################
# Build Artifacts
################################################################################

# Default Qt Creator Build Folders
build-example*/

################################################################################
# Utility Stuff
################################################################################

# Local folders, use for temporary storage, etc.
__*/*

# Temporary files.
*.autosave

# OSX
.DS_Store
.AppleDouble
